body#about {
    background: rgb(2,2,2);
}

body#about header .nav-logo #logo {
    color: #fff;
}
body#about header .nav-logo #logo.active {
    color: rgb(2,2,2);
}

.about__main {
    margin-top: 0;
    color: #fff;
}
.about__main section {
    position: relative;
}
.about__main section.about__head {
    padding-inline: 5%;
    position: fixed;
    top: 50%;
}

.about__main section.about__head .title {
    padding-left: 50px;
}
.about__main section.about__head .name span {
    font-family: 'Clash Display', sans-serif;
    font-size: 1.7rem;
    letter-spacing: .2rem;
}
.about__main section.about__head .name span span {
    margin-right: 10px;
}
@media (max-width: 1025px) {
    .about__main section.about__head .title {
        padding-left: 0;
    }
    .about__main section.about__head .name span {
        writing-mode: vertical-rl;
    }
}


.about__main section.about__body {
    margin-left: 50%;
    margin-top: 30vh;
    width: 50%;
    padding-right: 10%;
    padding-bottom: 20vh;
}
.about__main section.about__body .namebox h3{
    font-family: fot-klee-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    letter-spacing: .2em;
}
.about__main section.about__body .namebox div {
    font-size: 1rem;
}
.about__main section.about__body .namebox div p{
    line-height: 1.4;
}
.about__main section.about__body .namebox .jp {
    font-family: fot-klee-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: .2em;
}
.about__main section.about__body .namebox .en {
    font-family: 'Clash Display', sans-serif;
    letter-spacing: .1em;
    margin-top: 20px;
}
.about__main section.about__body .text {
    margin-top: 40px;
}
.about__main section.about__body .text h4 {
    margin-bottom: 10px;
}
.about__main section.about__body .text p + p{
    margin-top: 20px;
}
.about__main section.about__body .text p {
    line-height: 1.4;
}
.about__main section.about__body .text .en {
    font-size: 1.2rem;
    font-family: 'Clash Display', sans-serif;
    letter-spacing: .3em;
}
.about__main section.about__body .text .jp {
    font-family: fot-klee-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: .2em;
}
.about__main section.about__body .text.sns ul li + li {
    margin-top: 10px;
}
.about__main section.about__body .text.sns ul li a {
    display: flex;
    align-items: center;
    color: #fff;
}
.about__main section.about__body .text.sns ul li a span {
    margin-right: 20px;
}
.about__main section.about__body .text.sns ul li img {
    width: 20px;
    height: 20px;
    filter: invert(1);
}
.about__main section.about__body .text.contact .copy_btn {
    cursor: pointer;;
}
    

.about__main section.about__body .c-back-btn {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.about__main section.about__body .c-back-btn a {
    width: 220px;
    background: #fff;
    color: rgb(2,2,2);
}
.about__main section.about__body .c-back-btn a:hover {
    border: none;
    background: rgb(2,2,2);
    color: #fff;
}
@media (max-width: 1025px) {
    .about__main section.about__head {
        padding-inline: 0;
        top: 15vh;
    }    
    .about__main section.about__body {
        padding-block: 5vh 10vh;
        margin-left: 15vw;
        width: 85vw;
        margin-top: 10vh;
    }
    .about__main section.about__body .c-back-btn {
        display: block;
        width: 100%;
    }
    .about__main section.about__body .c-back-btn a {
        display: block;
        margin: auto;
    }
    .about__main section.about__body .c-back-btn a:last-of-type {
        margin-top: 20px;
    }
}


/* テキストアニメーション */
.textanim .letter {
    display: inline-block;
    line-height: 1em;
}
