.l-lg {
    display: block;
}
.l-sm {
    display: none;
}
@media (max-width: 767px) { 
    .l-lg {
        display: none;
    }
    .l-sm {
        display: block;
    }
}

.title--main {
    width: calc((100% / 6) * 2);
    margin: auto;
    background: #fff;
    text-align: center;
    padding-block: 20px;
    border: 1px solid #3e3e3e;
    border-left: none;
    margin-block: 10vh;
}
@keyframes titleanimation {
    0%{
        letter-spacing: .7rem;
        opacity: 0;
    }
}
.title--main h2 {
    font-family: 'Clash Display', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    animation: titleanimation 1.5s;
    letter-spacing: .3rem;
    color: #3e3e3e;
}

@media (max-width: 767px) { 
    .title--main {
        width: calc(100% - 40vw);
    }
}

/* カーソル pcのみ*/
@media (min-width: 767px) { 
    html,body,a{
        cursor: none;
    }
    #cursor{
        transform: translate(0,0);
        pointer-events: none;
        position: fixed;
        top: -4px;    
        left: -4px; 
        width: 20px;  
        height: 20px;  
        background: rgba(255, 255, 255, 0.75);
        border-radius: 50%;
        z-index: 999;
        transition: width .3s, height .3s, top .3s, left .3s;
    }
    #product #cursor {
        background: rgba(14, 14, 14, 0.75);
    }
    #cursor.none {
        display: none;
    }
    #cursor.hov_{
        top: -12px;   
        left: -12px;  
        width: 70px;   
        height: 70px;  
        background: rgba(255, 255, 255,0.5);
    }
}
