a {
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
}

header .nav-logo {
    color: #fff;
    font-size: 3rem;
    font-family: 'Clash Display', sans-serif;
}
header .nav-menu {
    color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    fill: #fff;
    display: flex;
    justify-content: center;
}
header .nav-menu:hover {
    fill: rgb(2,2,2);
    background: #fff;
    transition-duration: .7s;
}

header .nav-menu span{
    display: block;
    height: 2px;
    width: 30px;
    background: #fff;
    position: absolute;
    left: calc(50% - 15px);
}
header .nav-menu span:first-of-type {
    top: calc(50% + 5px);
}
header .nav-menu span:last-of-type {
    top: calc(50% - 5px);
}
/* menuの中 */
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: #fff;
    height: 100vh;
    width: 100%;
    background-color: rgb(10, 10, 10);
    position: fixed;
    bottom: 100vh;
    padding: 0 50px;
    z-index: 1;
    font-family: 'Clash Display', sans-serif;
}
.menu .backgroung {
    position: absolute;
    font-size: 14rem;
    color: rgb(255, 255, 255, .1);
    z-index: -1;
}
.nav-link {
    font-size: 4rem;
    transition: all 0.2s ease-in-out;
    opacity: 0;
}
.nav-link:hover {
    color: rgb(68, 68, 68);
    transition: all 0.2s ease-in-out;
}
.nav-link span {
    font-size: 1.5rem;
    margin-left: 2rem;
}
.menu-container .infomation {
    margin-bottom: 20px;
}
.menu-container .title {
    color: rgb(160, 155, 151);
    font-size: 2rem;
}