* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: rgb(2, 2, 2);
}
#logo.active {
    color: #fff;
}
img {
    width: 100%;
    height: auto;
}
main {
    margin-top: 40vh;
}
@media (max-width: 767px) {
    main {
        margin-top: 30vh;
    }
}
#product header .nav-menu {
    fill: rgb(2, 2, 2);
    border: 1px solid rgb(2, 2, 2);
}
#product header.is_open .nav-menu {
    fill: #fff;
    border: 1px solid #fff;
}
#product header.is_open .nav-menu #burger .top,
#product header.is_open .nav-menu #burger .bot {
    fill: #fff;
}
#product header .nav-menu:hover {
    fill: #fff;
    background: rgb(2, 2, 2);
    transition-duration: .7s;
}

/* 背景線 */
.background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -5;
}
.background ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 100%;
}
.background ul li {
    border-right: 1px solid #333;
}
.background ul li:last-of-type {
    border-right: none;
}

@media (max-width: 767px) {
    .background ul {
        grid-template-columns: 20vw 1fr 20vw;
    }
}


.galley {
    margin: 0 0 0.65rem;
    width: 80vw;
    margin: auto;
} 

.galley-item{
    height: auto;
    margin: .5rem;
    opacity: 0;
    transform: translateY(50px);
    transition: 1s;
} 
.galley-item.show {
    opacity: 1;
    transform: none;
}
.galley-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} 
@media (min-width: 767px) {
    .galley {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 300px);
        /* grid-auto-flow: row dense; */
    }
    .galley-item {
        margin: .7rem;
    }
    .galley-item:first-child {
        grid-row: span 1;
    }
    .galley-item:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: span 2;
    }
    .galley-item:nth-child(6),
    .galley-item:nth-child(8)  {
        grid-row: span 2;
    }
}
@media (min-width: 960px) {
    .galley {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, auto-flow);
    }
    .galley-item:first-child,
    .galley-item:nth-child(7),
    .galley-item:nth-child(8)  {
        grid-column: span 2;
        grid-row: span 1;
    }
    .galley-item:nth-child(2) {
        grid-column: span 2;
        grid-row: span 2;
    }
}

