* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(2,2,2);
}

header {
    position: fixed;
    top: 0;
    height: 10vh;
    width: 100vw;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Limelight', cursive;
    padding: 0 5%;
}

header .title {
    color: #fff;
}
header .menu {
    color: #fff;
}
#container{
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.slider_sp {
    display: none;
}

@media (max-width: 767px) { 
    #container{
        display: none;
    }
    .slider_sp {
        display: block;
    }
    html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #333;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 100%;
        height: 100vh;
        padding-top: 25vh;
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;
      background: #fff;
      color: #fff;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
    }
}

.slide{
  display: block;
  position: absolute;
  height: 200px !important;
  width: 400px !important;
}
.slide img {
    width: 100%;
}
.slide.one {
    top: 0;
}
.slide.two {
    top: 30vh;
    right: -20vw;
}
.slide.three {
    bottom: 0;
    left: -50px;
}
.slide.four {
    bottom: -20vh;
    right: 10vw;
}

button {
    position: fixed;
    bottom: 30px;
    left: calc(50% -150px);
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    height: 50px;
    width: 250px;
}
button a {
    display: block;
    background: #fff;
    color: black;
    font-family: 'Limelight', cursive;
    text-decoration: none;
    font-size: 1.7rem;
    border-radius: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper,
.wrappertwo,
.wrapperthree,
.wrapperfour {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.wrapper {
    width: 50vw;
    height: 40vh;
}
.wrappertwo {
    width: 20vw;
    height: 60vh;
}
.wrapperthree {
    width: 30vw;
    height: 25vw;
}
.wrapperfour {
    width: 30vw;
    height: 25vw;
}

.hero-title,
.hero-titletwo,
.hero-titlethree,
.hero-titlefour   {
    position: absolute;
    top: 35%;
    left: 15%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Limelight', cursive;
    font-size: 3rem;
    background: none;
}

.hero-title .letter,
.hero-titletwo .letter,
.hero-titlethree .letter,
.hero-titlefour .letter  {
    display: inline-block;
    opacity: 0;
    background: none;
}


/* カーソル */
html,body,a{
    cursor: none;
}
#cursor{
    transform: translate(0,0);
    pointer-events: none;
    position: fixed;
    top: -4px;    
    left: -4px; 
    width: 20px;  
    height: 20px;  
    background: rgba(255, 255, 255, 0.75);
    border-radius: 50%;
    z-index: 999;
    transition: width .3s, height .3s, top .3s, left .3s;
}
#cursor.hov_{
    top: -12px;   
    left: -12px;  
    width: 70px;   
    height: 70px;  
    background: rgba(255, 255, 255,0.5);
}