@font-face {
    font-family: 'Gazebo';
    src: url('../fonts/Gazebo.otf') format('opentype');
}

@media (max-width: 767px) { 
    .l-sm {
        display: none;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #fff;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
}

header .nav-logo {
    color: #fff;
    font-size: 3rem;
    font-family: 'Clash Display', sans-serif;
}
header .nav-menu {
    color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
}
header .nav-menu span{
    display: block;
    height: 2px;
    width: 30px;
    background: #fff;
    position: absolute;
    left: calc(50% - 15px);
}
header .nav-menu span:first-of-type {
    top: calc(50% + 5px);
}
header .nav-menu span:last-of-type {
    top: calc(50% - 5px);
}
/* menu */
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: #fff;
    height: 100vh;
    width: 100%;
    background-color: rgb(36, 36, 36);
    position: fixed;
    top: -20%;
    padding: 0 50px;
    opacity: 0;
}
.menu .backgroung {
    position: absolute;
    font-size: 14rem;
    color: rgb(255, 255, 255, .1);
    z-index: -1;
}
.exit {
    position: absolute;
    top: 40px;
    right: 40px;
}

.nav-link {
    font-size: 4rem;
    transition: all 0.2s ease-in-out;
}
.nav-link:hover {
    color: rgb(68, 68, 68);
    transition: all 0.2s ease-in-out;
}
.nav-link span {
    font-size: 1.5rem;
    margin-left: 2rem;
}
.menu-container .infomation {
    margin-bottom: 20px;
}
.menu-container .title {
    color: rgb(160, 155, 151);
    font-size: 2rem;
}

@media (min-width: 767px) { 
    #container{
        position: relative;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: rgb(2,2,2);
      }
      .slide{
        display: block;
        position: absolute;
        height: 200px !important;
        width: 400px !important;
      }
      .slide img {
          width: 100%;
      }
      .slide.one {
          top: 0;
      }
      .slide.two {
          top: 30vh;
          right: -20vw;
      }
      .slide.three {
          bottom: 0;
          left: -50px;
      }
      .slide.four {
          bottom: -20vh;
          right: 10vw;
      }
}



button {
    position: fixed;
    bottom: 30px;
    left: calc(50% -150px);
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    height: 50px;
    width: 250px;
}
button a {
    display: block;
    background: #fff;
    color: black;
    font-family: 'Limelight', cursive;
    text-decoration: none;
    font-size: 1.7rem;
    border-radius: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper,
.wrappertwo,
.wrapperthree,
.wrapperfour {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.wrapper {
    width: 50vw;
    height: 40vh;
}
.wrappertwo {
    width: 20vw;
    height: 60vh;
}
.wrapperthree {
    width: 30vw;
    height: 25vw;
}
.wrapperfour {
    width: 30vw;
    height: 25vw;
}

.hero-title,
.hero-titletwo,
.hero-titlethree,
.hero-titlefour   {
    position: absolute;
    top: 35%;
    left: 15%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Gazebo";
    letter-spacing: .5rem;
    font-size: 3rem;
    background: none;
}

.hero-title .letter,
.hero-titletwo .letter,
.hero-titlethree .letter,
.hero-titlefour .letter  {
    display: inline-block;
    opacity: 0;
    background: none;
}
#container{
    background: rgb(2,2,2);
    position: relative;
  }
@media (max-width: 767px) {

    .wrapper,
    .wrappertwo,
    .wrapperthree,
    .wrapperfour {
        position: inherit;
        width: 90vw;
        transform: none;
    }
    .wrapper {
        width: 100%;
        height: 40vh;
    }
    .wrappertwo {
        width: 100%;
        height: 40vh;
    }
    .wrapperthree {
        width: 100%;
        height: 40vh;
    }
    .wrapperfour {
        width: 100%;
        height: 40vh;
    }
}


/* カーソル */
html,body,a{
    cursor: none;
}
#cursor{
    transform: translate(0,0);
    pointer-events: none;
    position: fixed;
    top: -4px;    
    left: -4px; 
    width: 20px;  
    height: 20px;  
    background: rgba(255, 255, 255, 0.75);
    border-radius: 50%;
    z-index: 999;
    transition: width .3s, height .3s, top .3s, left .3s;
}
#cursor.hov_{
    top: -12px;   
    left: -12px;  
    width: 70px;   
    height: 70px;  
    background: rgba(255, 255, 255,0.5);
}